<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="4" parallel="tests" name="Suite">
  
  <test name="TestChrome">
<!--   <parameter name="mb" value="Chrome"/> -->
    <classes>
      <class name="br.com.mantisprova.base2.actions.back.ReportIssueAction"/>
    </classes>
  </test> 
  
  <test name="TestFF">
    <classes>
      <class name="br.com.mantisprova.base2.actions.back.ReportOcorrencia"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
